<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Association | Mini Project</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h1 class="pb-5 font-bold text-2xl">Login Your Account</h1>
        <form action="/login" method="post">
            <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="email" name="email" placeholder="Email Id">
            <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="password" name="password" placeholder="Password">
            <input type="submit" value="Login User" class="px-5 py-2 bg-green-600 cursor-pointer font-bold rounded-md">
        </form>
    </div>
</body>

</html>